<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <body>
    <div class="wrapper">
      <header>
        <div style= "display: flex; justify-content: center; align-items: center; background-color: #333;">
          <img src='../common-assets/blue-logo.2628fd03822632f2ee386d96ccf8ae34.svg' width="40vw" style="margin-right: 15px;">
          <h1 style="text-align: center;">
            <a href="/">
            Triton Neurotech
            </a>
          </h1>
        </div>
    
      <nav style="background-color: #34a1eb; padding: 10px; display: flex;">
        <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; width: 100%; justify-content: space-between;">
          <li style="flex: 1;">
            <a href="/hardware/hardware-home" style="color: white; text-decoration: none; padding: 14px 0; display: block; text-align: center;">Hardware</a>
          </li>
          <li style="flex: 1;">
            <a href="/software/software-home" style="color: white; text-decoration: none; padding: 14px 0; display: block; text-align: center;">Software</a>
          </li>
          <li style="flex: 1;">
            <a href="/machine-learning/machine-learning-home" style="color: white; text-decoration: none; padding: 14px 0; display: block; text-align: center;">Machine Learning</a>
          </li>
          <li style="flex: 1;">
            <a href="/data-collection/data-collection-home" style="color: white; text-decoration: none; padding: 14px 0; display: block; text-align: center;">Data Collection</a>
          </li>
          <li style="flex: 1;">
            <a href="/neuroscience/neuroscience-home" style="color: white; text-decoration: none; padding: 14px 0; display: block; text-align: center;">Neuroscience</a>
          </li>
        </ul>
      </nav>
    
    </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <hr>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>